<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>src/index.html</title>
  <link rel="stylesheet" href="index.css">

  <!-- You must include jQuery before Fomantic -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

  <!-- Fomantic UI components -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

  <!-- Vue -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>

  <p style="margin-bottom: 0;">This is <code>src/index.html</code> aka. the electron render process HTML. You can make
    this HTML empty, allowing the iframe for flask pages to expand to fill the window.
    Flask pages are rendered by the flask server.</p>

  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Diagnostics
    </div>
    <div class="content">

      <div id="electron-index-vue" class="demo">

        <div class="ui raised padded text container segment">
          <p>See if we can talk to the flask server:</p>
          <div class="inline field">
              <button class="ui button green" v-on:click="getInfo">
                  GET
              </button>
              JSON response: {{ message }}

          </div>
        </div>
        
        <div class="ui raised padded text container segment">
          <p>Sending custom event <i>to</i> iframe. First load <i>diagnostic HTML</i> or <i>/hello-vue</i> into iframe.</p>
          <div class="inline field">
            <button class="ui button yellow" v-on:click="sendEventToIframe">
              Send
            </button>
          </div>
        </div>

        <div class="ui raised padded text container segment">
          <p>Load content into iframe</p>
          <div class="inline field">
            <button class="ui button blue" v-on:click="doBootIframe">
              Load default flask page
            </button>
            <button class="ui button cyan" v-on:click="doBootIframeDebug">
              Load diagnostic HTML
            </button>
          </div>
        </div>

        <br>

      </div>

    </div>
  </div>


  <iframe id="iframeout" class="flask-pages" style="height: 100%; width: 100%" srcdoc="">
    <p>Your browser does not support iframes.</p>
  </iframe>

  <script>
    const IndexVueApp = {
      data() {
        return {
          message: ''
        }
      },
      methods: {
        getInfo() {
          $.ajax({
            method: "GET",
            url: `http://localhost:<%= portFlask %>`,
            data: {},
            // contentType: "application/json",
            success: response => {
              this.message = response
            }
          });
        },
        sendEventToIframe() {
          let event = new CustomEvent('eventFromRenderProcess', { detail: { foo: 'bar2' } })
          document.querySelector('iframe.flask-pages').contentDocument.dispatchEvent(event)
        },
        doBootIframe() {
          bootIframe('http://localhost:5000/<%= initialUrlFlask %>')  // init with a flask page
        },
        doBootIframeDebug() {  // init iframe with hand crafted html - for debugging
          bootIframe()
        }
      },
    }

    Vue.createApp(IndexVueApp).mount('#electron-index-vue')


    function bootIframe(initialUrl = undefined) {
      // Initialise iframe content. 
      // If 'initialUrl' supplied (typically a url on the flask server) then will load it.
      // 
      // Note: Render page index.html contains this iframe, and always remains present.
      // You could make this index.html blank except for the iframe, and drive everything via flask pages.
      if (initialUrl) {
        let iframe = document.querySelector('iframe.flask-pages')
        let success = false

        $.ajax({
          method: "GET",
          url: initialUrl,
          data: {},
          success: response => {
            iframe.contentWindow.location.assign(initialUrl)
            success = true
          },
          error: response => {
            alert(`Could not contact flask server at ${initialUrl}`)
          }
        });

        if (success)
          return
      }

      // Otherwise load diagnostic html page into iframe
      let output_html = `
            <ul>
              <p>The following will take you to flask rendered pages!</p>
              <li><a href="http://localhost:5000/hello">hello</a></li>
              <li><a href="http://localhost:5000/hello-vue">hello-vue</a></li>
            </ul>
            <ul>
              <p>Communication from iframe pages to electron render process html</p>
              <li><a href="javascript:window.parent.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send event to window.parent</a></li>
              <li><a href="javascript:window.top.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send event to window.top</a></li>
            </ul>
            `
      let iframe = document.querySelector('iframe.flask-pages')
      iframe.srcdoc = output_html

      // Initialise iframe, append some script - but interesting, this stays around even when navigate away!
      iframe.onload = function () {
        const src = `
                // Example of listening for events from render process html - any flask page should also add this kind of code
                window.document.addEventListener('eventFromRenderProcess', handleEvent, false)
                function handleEvent(e) {
                  console.log(e.detail)
                  alert('iframe BOOT page received event from electron render process.')
                }

                console.log('iframe BOOT page loaded ok')
            `
        const script = iframe.contentWindow.document.createElement("script");
        script.type = "text/javascript";
        script.innerHTML = src  // script.src = src; doesn't work
        iframe.contentWindow.document.body.appendChild(script);

      }
    }
    // bootIframe()  // init with a custom hand coded page
    bootIframe('http://localhost:5000/<%= initialUrlFlask %>')  // init with a flask page


    // In electron render process html, listen for possible custom events from iframe pages
    // You could in turn talk to the electron main process from here, thus offering a way for
    // flask pages to talk to both the render process and the main process.
    window.document.addEventListener('eventFromIframePage', handleEvent, false)
    function handleEvent(e) {
      console.log(e.detail)
      alert('electron render process html received event from iframe page.')
    }

    // fomantic bootstrap
    $('.ui.accordion:first').accordion('close', 0)  // actually don't need to close since no 'active' attr
     
  </script>

</body>

</html>