<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Hello</title>

    {% include 'partials/cdn-scripts.html' %}

</head>

<body style="padding: 0.5em">
    <h1>💖 Hello World - from flask</h1>
    <p>Welcome to your Electron application.

    <p>hi there {{msg}}</p>

    <div style="width:100%; padding-left: 30%; padding-right: 30%;">
        <img src="{{ url_for('static', filename='images/hello.png')}}" style="padding: 1em;">
    </div>

    <p>Navigate to another flask rendered page.</p>
    <a href="/hello-vue">/hello-vue</a>

</body>

</html>