<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Hello</title>

    {% include 'partials/cdn-scripts.html' %}

</head>

<body style="padding: 0.5em">
    <h1>💖 Hello-vue World - from flask</h1>
    <p>Welcome to your Electron application.

    <p>hi there {{msg}}</p>

    <div style="width:100%; padding-left: 30%; padding-right: 30%;">
        <img src="{{ url_for('static', filename='images/hello.png')}}" style="padding: 1em;">
    </div>

    <div id="hello-vue" class="demo">

        <div class="ui raised padded text container segment">
            <div class="inline field">
                <button class="ui button green" v-on:click="getInfo">
                    GET
                </button>
                JSON response: ${ message }

            </div>
        </div>

        <p>Communication <i>from</i> iframe FLASK pages <i>to</i> parent electron render process HTML.</p>
        <ul>
            <li><a href="javascript:window.parent.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send custom event to window.parent (render process)</a></li>
            <li><a href="javascript:window.top.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send custom event to window.top (render process)</a></li>
            <li>Send custom event to electron main process via render process window.parent (TODO)</a></li>
        </ul>

        <p>Navigate to another flask rendered page.</p>
        <a href="/hello">/hello</a>

    </div>

    <script type="module">
        import { blah, xx, HelloVueApp } from '/static/js/hello-vue.js'
        console.log('blah', blah(), 'xx', xx)
        Vue.createApp(HelloVueApp).mount('#hello-vue')
    </script>

</body>

</html>