<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Hello</title>

    {% include 'partials/cdn-scripts.html' %}

</head>

<body>
    <h1>Hello-vue from flask</h1>

    <p>hi there {{msg}}</p>

    <div style="width:100%; padding-left: 30%; padding-right: 30%;">
        <img src="{{ url_for('static', filename='images/hello.png')}}">
    </div>

    <div id="hello-vue" class="demo">
        Message is: ${ message }

        <div class="inline field">
            <button class="ui button green" v-on:click="getInfo">
                getInfo
            </button>
        </div>

        <ul>
            <p>Communication from iframe FLASK pages to electron render process html - not currently working</p>
            <li><a href="javascript:window.parent.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send event to window.parent</a></li>
            <li><a href="javascript:window.top.document.dispatchEvent(new CustomEvent('eventFromIframePage', { detail: { foo: 'bar' } }));">Send event to window.top</a></li>
          </ul>

        <a href="/hello">/hello</a>
    </div>

    <script type="module">
        import { blah, xx, HelloVueApp } from '/static/js/hello-vue.js'
        console.log('blah', blah(), 'xx', xx)
        Vue.createApp(HelloVueApp).mount('#hello-vue')
    </script>

</body>

</html>